@charset "utf-8";

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  padding: 32px;
}

/* メニュー一覧 */
.menuViewer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  gap: 10px;
}

.menu {
  width: 200px;
  margin: 10px auto;
  border-bottom: dashed #ccc;
  position: relative;
}

.menu .menuDetail {
  cursor: pointer;
}

.menu p {
  text-align: center;
}

.menu img {
  width: 200px;
  height: calc(200px / 1.4);
  margin: 0 auto;
}

.menu .soldOut {
  background-color: rgb(252, 90, 90);
  color: #fff;
  font-weight: bold;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  width: calc(200px * 0.9);
  height: 36px;
  line-height: 36px;
  margin: 0 auto;
  position: absolute;
  top: calc((200px / 1.4 - 36px) / 2);
  left: calc(200px * 0.1 / 2);
}

.soldOut.hidden {
  display: none;
}


/* モーダル */
#mask {
  background-color: rgba(0, 0, 0, .4);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#modal {
  background-color: #fff;
  width: 80%;
  height: 480px;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#mask.hidden {
  display: none;
}

#modal {
  padding-top: 20px;

}

#modal.hidden {
  display: none;
}

#modal img {
  display: block;
  width: 200px;
  height: 150px;
  margin: 0px auto 16px;
}

#modal .modalMenu {
    text-align: center;
}

#modal .modalPrice {
    text-align: center;
}

#modal ul {
    width: 200px;
    margin: 16px auto;
}

#modal .soldOut {
  background-color: rgb(252, 90, 90);
  color: #fff;
  font-weight: bold;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  width: calc(200px * 0.9);
  height: 36px;
  line-height: 36px;
  margin: 0 auto;
  position: absolute;
  top: calc((200px / 1.4 - 36px) / 2 + 20px);
  left: calc((100% - 180px) / 2);
}

#modalClose {
  all: unset;
  cursor: pointer;
  background-color: #eee;
  display: block;
  width: 100px;
  margin: 0 auto;
  padding: 3px 5px;
  text-align: center;
  border: 1px solid;
  border-radius: 2px;
}

.noMenuMessage {
    font-size: 24px;
    text-align: center;
    margin-top: 30%;

}
